<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    {% url 'create_game' as createGame %}
    {% url 'list_of_all_games' as listOfGames %}
    {% url 'list_of_my_games' as listOfMYGames %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.get_full_path == createGame %}class="active"{% endif %}><a href="{% url 'create_game' %}">Create a game</a></li>
        <li {% if request.get_full_path == listOfGames %}class="active"{% endif %}><a href="{% url 'list_of_all_games' %}">List of all games</a></li>
        <li {% if request.get_full_path == listOfMYGames %}class="active"{% endif %}><a href="{% url 'list_of_my_games' %}">List of my games</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{ user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'account_logout' %}?next=/">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
