{% extends "base.html" %}

{% block title %}Welcome to task schedule{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

  <div class="container">
    <h2>Create a new game</h2>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}


    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Create" />
    </form>
  </div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
