{% extends "base.html" %}

{% block title %}Welcome to task schedule{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="container">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <h3>Add middle4 player for the game {{ games.name }}</h3>
  <h4>Current middle4 player is {{ games.middle4 }}</h4>
  <form action="{% url 'edit_middle4' pk=games.id%}" method="POST">
    {% csrf_token %}
    <select class="form-control form-group" name="middle4">
      {% for user in users %}
        <option value="{{user.id}}">{{user.username}}</option>
      {% endfor %}
    </select>
    <input type="submit" class="btn btn-primary form-group" value="Add" />
  </form>
  <br>
  <a href="{% url 'game' games.id %}" class="btn btn-default">Go back</a>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
