{% extends "base.html" %}

{% block title %}Welcome to task schedule{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="container">
  <h2>ID of game is: {{ object.id }}</h2>
  <h2>Date of the game is {{ object.datetime|date:"c" }}</h2>
  <h3>Name of the game is: {{ object.name }}</h3>
  <h3>Creator of the gmae is : {{ object.creator }}</h3>
  <h4>List of players</h4>
  <p>Goalkeeper is: {{ object.goalkeeper }} - <a href="{% url 'edit_goalkeeper' object.id %}" class="btn btn-primary btn-xs">Edit goalkeeper</a></p>
  <p>Defense2 player is: {{ object.defense2 }} - <a href="{% url 'edit_defense2' object.id %}" class="btn btn-primary btn-xs">Edit defense2 player</a></p>
  <p>Defense3 player is: {{ object.defense3 }} - <a href="{% url 'edit_defense3' object.id %}" class="btn btn-primary btn-xs">Edit defense3 player</a></p>
  <p>Middle4 player is: {{ object.middle4 }} - <a href="{% url 'edit_middle4' object.id %}" class="btn btn-primary btn-xs">Edit middle4 player</a></p>
  <p>Forward5 player is: {{ object.forward5 }} - <a href="{% url 'edit_forward5' object.id %}" class="btn btn-primary btn-xs">Edit forward5 player</a></p>
  <p>Forward6 player is: {{ object.forward6 }} - <a href="{% url 'edit_forward6' object.id %}" class="btn btn-primary btn-xs">Edit forward6 player</a></p>
  <a href="{% url 'list_of_my_games' %}" class="btn btn-default">Go back</a>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
