{% extends "base.html" %}

{% block title %}Welcome to task schedule{% endblock %}

{% block header %}
  {% include "partials/_header.html" %}
{% endblock %}

{% block nav %}
  {% include "partials/_nav.html" %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <h3>List of all games</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name of the game</th>
        <th>Date for the game</th>
        <th>Creator of the game</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.name }}</td>
        <td>{{ game.datetime|date:"M d, Y" }}</td>
        <td>{{ game.creator }}</td>
        <td>{% if request.user.is_staff or request.user == game.creator  %} <a href="{% url 'game_delete' game.id %}" class="btn btn-danger btn-xs pull-right">Delete this game</a>{% else %}{% endif %}</td>
        <td><a href="{% url 'game' game.id %}" class="btn btn-primary btn-xs pull-right">View game</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block footer %}
  {% include "partials/_footer.html" %}
{% endblock %}

{% block javascript %}
  {% include "partials/_javascript.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
