<html>
  <head>
    <title>Samo da vidim da li radi ali cini mi se da nije kako treba</title>
  </head>
  <body>
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Signup"/>
    </form>
  </body>
</html>
